<!DOCTYPE html>
<html>
<head>
  <title>PrintFromAnywhere</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body onload="startTime()">
<div id="header">	
	<%= render 'layouts/header' %>
</div>
<% flash.each do |key, value| %>
  <%= content_tag(:div, value, class: "alert alert-#{key}") %>
<% end %>
<div id="content" class="container">
	<%= yield %>
</div>
<footer>
	<div class="text-center">&copy2016 Valet Print</div>
</footer>
</body>
</html>
